-
    var tabs = [
    {title:'Навыки',link:'skills'},
    {title:'Статьи',link:'articles'},
    {title:'Работы',link:'works'},
    {title:'Другое',link:'others'}
    ];

.admin-main
    .tabs.admin-main__tabs
        .container
            ul.tabs__list
                each tab in tabs
                    li.tabs__list-item
                        a.tabs__link(href='#' + tab.link)= tab.title
    .tabs__content(id=tabs[0].link)
        .container
            h2.tabs__title Страница "Обо мне"
            form.admin-form(id='skill-form' method='POST',action='/skill-save')
                each category in ['Frontend','Backend','WorkFlow']
                    .admin__skill
                        .skill__title.tabs__subtitle= category
                        ul.admin__skill-list
                            each skill in skills
                                if skill.category.toLowerCase()==category.toLowerCase()
                                    li.admin__skill-item
                                        span.admin__skill-label= skill.title
                                        span.admin__skill-percent %
                                        input.admin__skill-input(value=skill.percent name=skill.title)
                button.admin-form__button-submit(type='submit') Сохранить
    .tabs__content(id=tabs[1].link)
        .container
            h2.tabs__title Страница "Блог"
            .tabs__subtitle Добавить запись
            form.admin-form(id='article-form' method='POST',action='/article-save')
                .admin-form__input-container
                    input.admin-form__input(type='text' name='title' placeholder='Название')
                .admin-form__input-container
                    input.admin-form__input(type='text' name='date' placeholder='Дата')
                .admin-form__textarea-container
                    textarea.admin-form__textarea(name='text' placeholder='Содержание')
                button.admin-form__button-submit(type='submit') Добавить
    .tabs__content(id=tabs[2].link)
        .container
            h2.tabs__title Страница "Мои работы"
            .tabs__subtitle Добавить работу
            form.admin-form(id='works-form' method='POST',action='/works-save')
                .admin-form__input-container
                    input.admin-form__input(type='text' name='title' placeholder='Название проекта')
                .admin-form__input-container
                    input.admin-form__input(type='text' name='tech' placeholder='Технологии')
                .admin-form__input-container
                    input.admin-form__input(type='file' name='pic' value='asd' accept='image/*')
                button.admin-form__button-submit(type='submit') Добавить
    .tabs__content(id=tabs[3].link)
        .container
            h2.tabs__title Другое

    include ../../elements/_popup-message
    //.main-title= name
